<% include ../partials/header %>
<% include ../partials/adminNav %>


<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="/images/<%=user.image || "profile.png"%>" class="card-img-top rounded-circle"/>
        <a href="" class="text-muted ml-5" data-toggle="modal" data-target="#changePhotoModal"><i class="fa fa-camera"></i>Change Photo</a>
      </div>
      <div class="col-md-6">
        <h4 class="text-center pb-3">User Information</h4>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">First Name: <%=user.firstName%></li>
          <li class="list-group-item">Last Name: <%=user.lastName%></li>
          <li class="list-group-item">Username: <%=user.username%></li>
          <li class="list-group-item">Email: <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=<%=user.email%>"><%= user.email %></a></li>

        </ul>

      </div>

    </div>
  </div>
</section>

<% include ../partials/footer %>
