<%-include('../partials/header')%>
<%-include('../partials/userNav')%>

<!--NAVIGATION BAR FOR USER-->


<!--DASHBOARD SECTION-->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-cog"></i> Dashboard</h1>
      </div>
    </div>
  </div>
</header>

<%- include('../partials/alerts') %>
<!-- ACTIONS -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/books/all/all/1" class="btn btn-primary btn-block">
          <i class="fa fa-plus"></i> Borrow book
        </a>
      </div>


      <div class="col-md-4">
        <a href="/books/return-renew" class="btn btn-info btn-block">
          <i class="fa fa-retweet"></i> Renew/Return Book
        </a>
      </div>

</section>



<section id="home" class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/<%=user.image || "profile.png"%>" class="card-img-top p-1">
          <div class="card-body">
            <p>Name: <%=user.firstName%> <%=user.lastName%></p>
            <p>Email: <%=user.email%> </p>
            <p>
              <%if(user.violationFlag==false){%>
                Flagged: <span class="text-primary"><%=user.violationFlag%></span>
              <%}else{%>
                Flagged: <span class="table-text"><%=user.violationFlag%></span>
              <%}%>
            </p>
            <p>Fine: ksh. <%=user.fines%> </p>
            <p>Joined: <%=user.joined.toDateString() %></p>
            <p>Book Issued : <%=user.bookIssueInfo.length%></p>
          </div>

        </div>

      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header text-center">
            <h4>Recent Activities</h4>
          </div>


          <table onLoad="JavaScript:timeRefresh(30000);" class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Info</th>
                <th>Category</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% activities.forEach(activity => {%>
                <%if(activity.category == "Update Password"){%>
                  <tr>
                    <td>You have recently <span class="table-text">updated your password</span></td>
                    <td><%=activity.category%></td>
                    <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <% }else if(activity.category == "Update Profile Info") {%>
                  <tr>
                  <td>You recently <span class="table-text">updated your profile information</span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}else if(activity.category == "Uploaded New Profile Photo"){%>
                  <tr>
                  <td>You recently <span class="text-warning">uploaded a new profile photo</span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}else if(activity.category == "Comment"){%>
                  <tr>
                  <td>You recently <span class="text-primary">commented on a book</span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}else if(activity.category == "Issue"){%>
                  <tr>
                  <td>You recently were <span class="text-success">issued a book titled <%=activity.info.title%> by <%=activity.issued_by.username%></span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}else if(activity.category == "Return"){%>
                  <tr>
                  <td>You recently <span class="text-success">returned a book titled <%=activity.info.title%></span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}else if(activity.category == "Renew"){%>
                  <tr>
                  <td>You recently <span class="text-success">renewed a book titled <%=activity.info.title%></span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}else if(activity.category == "Reset Password"){%>
                  <tr>
                  <td>You recently <span class="text-danger">reset your password <%=activity.info.title%></span></td>
                  <td><%=activity.category%></td>
                  <td><%=activity.entryTime.toDateString()%></td>
                  </tr>
                <%}%>

              <%});%>
            </tbody>
          </table>
          <% if (pages > 0) { %>
        <nav class="ml-3 mb-2">
          <ul class="pagination offset-md-3">

            <% if (current == 1) { %>
              <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
              <li class="page-item"><a href="/user/1" class="page-link">First</a></li>
            <% } %>

            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/user/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a href="/user/<%= pages %>" class="page-link">Last</a></li>
                    <% } %>
          </ul>
        </nav>
     <% } %>


        </div>
      </div>
    </div>

  </div>



</section>


<%- include('../partials/footer') %>
