<% include ../partials/header %>




<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header text-center">
          <h4><%=book.title %></h4>
        </div>
          <small class="text-muted px-3 py-2">Author: <%=book.author%></small>
          <small class="text-muted px-3 py-2">ISBN: <%=book.ISBN%></small>
          <small class="text-muted px-3 py-2">Category: <%=book.category%></small>
          <small class="text-muted px-3 py-2">In Stock: <%=book.stock%></small>
        <div class="card-body">
          <p class="card-text">
            <%-book.description%>
          </p>
        </div>

      </div>

      <div class="card my-3 bg-light">
      </div>

    </div>
  </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script>
    $('button').on('click',  function() {
       $(this).prev().toggleClass('d-none');
      $(this).next().next().toggleClass('d-none');
    });
</script>
<% include ../partials/footer %>
